extends layout

block content
    if user
        h1.report_header REPORT :   #{user.first_name} #{user.last_name}
    else 
        h1.report_header REPORT
    .row
        if message 
            h3.report_message #{message}
        if userId 
            h3.column User ID: #{userId}
        if year 
            h3.column Year: #{year}
        if month 
            h3.column Month: #{month}

    if result
        each category in result
            .row 
            .cost_data
            h2.report_category_title #{category._id}:
            for cost in category.costs
                if cost
                    for key, value in Object.entries(cost)
                        - var str = key.toString().replace(',', ' : ');
                        p.category_data
                            | #{str}
                    br





